.navbar {
    background-color: #F3F5F9 !important;
}

.footer {
    background-color: rgb(0,178,255) !important;
}

.copyright {
    background-color: #0072a3 !important;
}

header {
    background: rgb(0,178,255);
}

.navcolor {
    color: black !important;
}

a:hover {
    color: #0072a3 !important;
}

.btn-social a {
    background-color: #1FB1FB;
}

.portfolio-item {
    transition: 0.5s;
    border-radius: 10px;
}

.portfolio-item:hover {
    box-shadow: 0 0 3px #0072a3;
    transform: translate(0, -10px);
}

.portfolio-item-caption {
    border-radius: 10px;
}

.portfolio-img {
    border-radius: 10px;
}

.portfolio {
    background-color: #1DB1FB;
}

.footer {
    background-color: #ffffff !important;
}

.btn-back {
    background-color: #1FB1FB;
}

.btn-secondary {
    background-color: #1FB1FB !important;
    border-color: #1FB1FB !important;
}

.splide__slide {
    max-width: 481px;
    max-height: 846px;
}

.splide__slide img {
    max-width: 481px;
	height: auto;
}

.centerport {
    justify-content: center;
}